*.o
*.o.cmd
src/os/linux/Makefile
src/tools/bin2h

#build
os/linux/.mt7601Usta.ko.cmd
os/linux/.tmp_versions/
os/linux/Module.symvers
os/linux/modules.order
os/linux/mt7601Usta.ko
os/linux/mt7601Usta.mod.c
